<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
	<bean id= "paintsection" class="org.Heemal.Ryan.PaintSection">
		<property name= "Paint_Properties">
		<list>
				<ref bean="PaintColour"/>
				<ref bean="PaintColour2"/>				
		</list>
		</property>
	</bean>
	
 	<bean id= "PaintColour" class="org.Heemal.Ryan.PaintProperties"> 
		<property name="Colour" value= "Red"/>
		<property name="Type" value= "Gloss"/>
	</bean>	

	 <bean id= "PaintColour2" class="org.Heemal.Ryan.PaintProperties"> 
		<property name="Colour" value= "Blue"/>
		<property name="Type" value= "Matte"/>
	</bean>	
</beans> 